ENVIRON="dev"
DATA_DIR="./develop"

CUDA_VISIBLE_DEVICES="0"
HF_HOME="./develop/models"

CHAT_MODEL = "Gemini(API)"

GOOGLE_API_KEY="your-google-api-key"
GEMINI_MODEL="gemini-2.5-flash"

OLLAMA_API_KEY="your-ollama-api-key"
OLLAMA_MODEL="gpt-oss:120b"

EMBEDDING_MODE="huggingface"
